* {
    border: 1px solid red;
}

.template {
    display: none;
}

div.container {
    text-align: center;

}

div.article {
    width: 30%;
    display: inline-block;
    margin: 10px;
}

.abstract {
    text-align: left;
}

@media screen and (max-width: 800px) {
    div.container {
        width: 100%;
    }

    div.article {
        width: 90%;
        display: block;
        margin: auto;
    }
}